*{{#if scope}} **{{scope}}:**
{{~/if}} {{#if subject}}
    {{~subject}}
{{~else}}
    {{~header}}
{{~/if}}

{{~!-- commit link --}}{{~#if hash}} {{#if @root.linkReferences~}}
    ([{{shortHash}}]({{commitUrlFormat}}))
{{~else}}
    {{~shortHash}}
{{~/if}}{{~/if}}

{{~!-- commit references --}}
{{~#if referencesByAction~}}
    {{~#each referencesByAction~}}
        {{~#if @first ~}}
            {{! space }} | {{! space }}
        {{~/if~}}
        {{@key}}: {{! space }}
        {{~#each this}}
            {{~#if @root.linkReferences~}}
                [
                {{~#if this.owner}}
                    {{~this.owner}}/
                {{~/if}}
                {{~this.repository}}{{this.prefix}}{{this.issue}}]({{issueUrlFormat}})
            {{~else}}
                {{~#if this.owner}}
                    {{~this.owner}}/
                {{~/if}}
                {{~this.repository}}{{this.prefix}}{{this.issue}}
            {{~/if}}
            {{~#unless @last ~}}
               {{! space }}, {{! space }}
            {{~/unless}}
        {{~/each}}
        {{~#unless @last ~}}
            {{! space }} | {{! space }}
        {{~/unless~}}
    {{~/each~}}
{{~/if}}

